<div class="toolbar" role="banner">
    <a href="/" class="logo "><span class="">{{title}}</span></a>
    <div class="spacer"></div>
    <a title="Shopping cart"><mat-icon class="shop">shopping_cart</mat-icon></a>
</div>
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 mb-2">
            <mat-list>
                <mat-list-item>
                    <div class="row">
                        <div class="col-sm-4"><img src="/assets/bag.jpeg" alt=""></div>
                        <div class="col-sm-4">product name</div>
                        <div class="col-sm-4">
                            price
                        </div>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 2</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Item 3</mat-list-item>
            </mat-list>
        </div>

        <div class="col-sm-12 col-md-6 col-6 mb-1">
            <mat-card>
                <ul class="p-2">
                    <li class="mb-4 p-1">Sub total <span class="">0</span></li>
                    <li class="p-1">Total <span>0</span></li>
                </ul>
            </mat-card>

        </div>

    </div>

</div>