.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    color: #1f2022;
    font-weight: 600;
    box-shadow: 5px 1px 10px rgba(0, 0, 0);
}

.toolbar a {
    color: #1f2022;
}

.toolbar .logo {
    margin: 0 16px;
}

.toolbar .shop {
    margin: 0 16px;
}

mat-list {
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #333;
    background-color: white;
    padding: 15px;
}

mat-list mat-list-item {
    border-radius: 15px;
    width: 100%;
    max-height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

mat-list mat-list-item img {
    height: 90px;
    width: 90px;
    border-radius: 50px;
    border: 1px solid #ccc;
}

.cart mat-list-item {
    height: 150px;
}

.cart mat-list-item span {
    margin: 20px;
}

.update-quantity {
    padding: 14px;
}

.update-quantity span {
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 900;
}

mat-list mat-list-item span {
    font-weight: 500;
}

/*  Invoice */
.price,.product-price {
    font-weight: 900;
}

.invoice {
    border: 1px solid #eee;
    border-radius: 15px;
    background-color: white;
    height: 200px;
    box-shadow: 5px 5px 5px #333;
}

.invoice li {
    margin: 0 40px 0 0;
    border-bottom: dashed;
}

/* Invoice end */
.checkout,
.cancel {
    text-transform: uppercase;
    margin: 10px;
    width: 120px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333;
    background-color: #FFF;
}

.cancel {
    margin-right: 5rem;
}
.addQuantity{
    margin-left: 13rem;
}
mat-list mat-list-item .delete {
    margin-left: 1rem;
}

/* end customer general css */
/* Responsive Styles */
@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
   

    .cart mat-list-item {
        height: 130px;
    }

    .cart mat-list-item img {
        margin-left: 4px;
    }

   

    mat-list mat-list-item img {
        height: 50px;
        width: 50px;
    }
    .product-price,.product-name{
        font-size: 14px;
    }

    .update-quantity {
        padding: 4px;
    }

    .update-quantity span {
        font-weight: 900;
    }
}