/* :host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #FFF;
  color: #1f2022;
  font-weight: 600;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3);
  
}

.toolbar a {
  color: #1f2022;
}

.toolbar .logo {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #faceboock-logo {
  height: 40px;
  margin: 0 16px;
}
.toolbar #faceboock-persone {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
} */


mat-card {
  transition: all 0.2s ease-in-out;
}


footer mat-list mat-list-item{
  display: inline-block;
}


a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {
  .start-img mat-card {
    width: 400px;
    transition: all 0.3s  ;
  }
}

@media screen and (max-width: 575px) {

  .start-img mat-card {
    width: 350px;
    height: 200px;
    transition: all 0.3s  ;
  }

  #div2 {
    width: 400px;
    padding: 20px;
    margin-bottom: 12px;
  }

  .categorie-item img{
    width: 50px;
  }

  .categorie-item{
    width: 100px;
    height: 100px;
    padding: 8px;
    transition: all 0.3s  ;
  }

  .customer-footer button{
    margin: 0 12px;
  }
  /* .product{
    width: 100px;
  } */
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .customer-footer{
    visibility: hidden;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .customer-footer{
    visibility: hidden;
  }
}

/* www.minfopragov@gmail.com */
