<div class="grid-container">
    <p>product List</p>
    <div class="row">
        <div class="col-sm-6">
            <button type="button" mat-raised-button>Add</button>
            <mat-card></mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mb-3">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell *matCellDef="let element"> {{element?.price | currency}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> Image </th>
                        <td mat-cell *matCellDef="let element"><img class="produc-image" src="{{ element?.imageUrl }}"
                                alt="{{element.name}}"></td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <button type="button" mat-icon-button
                                [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Detail</button>
                                <button mat-menu-item (click)="onEdite(element.id)">Edit</button>
                                <button mat-menu-item>Remove</button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>

</div>