<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <mat-card class="p-2">
                <p> <b class="text-uppercase">Lyfe company </b> Foward for best url.</p>
                <mat-card-content>
                    <div >
                        <h4>Page not found</h4>
                        <span class="text-danger">Error: 404</span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
