<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a routerLink="/" class="logo"><span>{{title}}</span></a>
    <a routerLink="/cart" class="shop" title="Shopping cart"><mat-icon matBadge="{{ numberOfItemInTheCart }}"
            matBadgeColor="warn">shopping_cart</mat-icon></a>
    <a routerLink="/" class="store" title="Store"><mat-icon>store</mat-icon></a>
    <div class="spacer"></div>

    <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="#" title="Twitter">
        <span id="twitter-logo"><i class="bi bi-twitter"></i></span>
    </a>
    <a href="#" matTooltip="Faceboock">
        <span id="faceboock-logo"><i class="bi bi-facebook"></i></span>
    </a>
    <a matTooltip="Person" routerLinkActive="active" routerLink="/login">
        <span id="faceboock-persone"><i class="bi bi-person-circle"></i></span>
    </a>
</div>
<div class="container">
    <h3>You'r now on {{ "title" }} !</h3>
    <div class="row mb-3">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <mat-card class="cover text-white mat-card-image">
                <mat-card-content class="">
                    <mat-card-subtitle>Discount</mat-card-subtitle>
                    <mat-card-subtitle>Up to</mat-card-subtitle>
                    <mat-card-subtitle class="fw-bold f-1">{{ 500 | percent}} </mat-card-subtitle>
                    <mat-card-actions> <button mat-raised-button color="warn">next</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!--  Categorie-->
    <div class="row">
        <h3 class="me-2">Categorie</h3>
        <div class="col-md-8 col-sm-8 col-lg-12 categorie" id="div2">

            <mat-card class="categorie-item">
                <img mat-card-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNGyVXPD4QPubBhz8V-2vlvcve9q_Joz0bBw&usqp=CAU"
                    alt="" class="rounded-circle">
                <mat-card-content>
                    <mat-card-title>Mene</mat-card-title>
                </mat-card-content>
            </mat-card>

            <mat-card class="categorie-item">
                <img mat-card-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNGyVXPD4QPubBhz8V-2vlvcve9q_Joz0bBw&usqp=CAU"
                    class="rounded-circle img-fluid">
                <mat-card-content>
                    <mat-card-title>shoes</mat-card-title>
                </mat-card-content>
            </mat-card>

            <mat-card class="categorie-item">
                <img mat-card-image src="assets/bag.jpeg" class="rounded-circle">
                <mat-card-content>
                    <mat-card-title>Back</mat-card-title>
                </mat-card-content>
            </mat-card>

            <mat-card class="categorie-item">
                <img mat-card-image
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn595ack7v-9rWrimAMMu7yxtfVwXTuJwEzw&usqp=CAU"
                    class="rounded-circle ">
                <mat-card-content>
                    <mat-card-title>womane</mat-card-title>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mb-3">
        <h3 class="me-auto fw-bold"> Popular Product</h3>

        <main>

            <mat-card class="product" *ngFor="let product of products">
                <img mat-card-image src="{{ product?.imageUrl }}" alt="" />
                <mat-card-content class="p-1">
                    <mat-card-subtitle>{{ product?.name }}</mat-card-subtitle>
                    <mat-card-title>
                        <span class="price">{{ product?.price | CustomCurrency }}</span>
                    </mat-card-title>
                </mat-card-content>
                <mat-card-actions>
                    <button type="button" mat-icon-button aria-label="favorie" id="like" matTooltip="Like"
                        (click)="onToggleFavorite(product)">
                        <mat-icon *ngIf="product.isFavorite" class="favorite">favorite</mat-icon>
                        <mat-icon *ngIf="!product.isFavorite" class="unfavorite">favorite</mat-icon>
                    </button>

                    <button type="button" mat-raised-button color="warn" matTooltip="Add product"
                        (click)="onPlaceOrder(product)">Buy</button>
                </mat-card-actions>
            </mat-card>

        </main>

    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-sm-12">
                <div class="menu-footer">
                    <ul>
                        <li>
                            <button mat-icon-button>
                                <mat-icon>home</mat-icon>
                            </button>
                        </li>
                        <li>
                            <button mat-icon-button color="" matTooltip="Store">
                                <mat-icon>store</mat-icon>
                            </button>
                        </li>
                        <li>
                            <button mat-icon-button color="" matTooltip="Favorite">
                                <mat-icon>favorite</mat-icon>
                            </button>
                        </li>
                        <li>
                            <button type="button" mat-icon-button matTooltip="cart" (click)="onLoaderOrder()">
                                <mat-icon>shopping_bag</mat-icon>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>